<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | HR Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-body">

<div class="login-container">
    <div class="login-card">
        <h2>HR Grievance Portal</h2>
        <p class="subtitle">Secure Login</p>

        <form method="POST">
            <div class="input-group">
                <input type="text" name="username" required>
                <label>Username</label>
            </div>

            <div class="input-group">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

            <button type="submit" class="login-btn">
                🔐 Login
            </button>
        </form>

        <div class="login-hint">
            <p><b>HR:</b> hr / 123</p>
            <p><b>Employee:</b> employee / 123</p>
        </div>
    </div>
</div>

</body>
</html>




